apiVersion: apps/v1 
kind: Deployment
metadata:
  name: kubernetes-demo-hello-app
  labels: 
     app: hello-app

spec:
  replicas: 1 
  selector:
    matchLabels:
      app: hello-app

  template:
    metadata:
      labels:
        app: hello-app
    spec:
      containers:
      - name: hello-app
        image: 748607688189.dkr.ecr.us-east-1.amazonaws.com/flask-app:IMAGE_TAG
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1